fastapi==0.115.6
uvicorn==0.32.1
opencv-python-headless==4.10.0.84
numpy==2.1.3
pydantic==2.10.3
python-multipart==0.0.20
anyio>=4.0.0,<4.4.0
requests==2.32.3
charset-normalizer==3.4.1
mediapipe==0.10.14
